{% load staticfiles %}

<html>
    <head>
	    <title>Sioni's blog</title>
		<link rel = "stylesheet" href = "{%static 'css/css/blog.css' %}">
		<link rel = "stylesheet" href = "{%static 'css/css/bootstrap.min.css' %}">
		
	    <script type="text/javascript" src = "{% static 'css/js/jquery/dist/jquery.min.js' %}"></script>
	    <script type="text/javascript" src = "{% static 'css/js/bootstrap.min.js' %}"></script>
	
	</head>
	
	<body>
	    <div class = "page-header">
		    {%if user.is_authenticated %}  
		        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>	
			    <a href = "{% url 'post_draft_list' %}" class = "top-menu"><span class = "glyphicon glyphicon-edit"></span></a>
				<a class="top-menu"  href="{% url 'django.contrib.auth.views.logout' %}" ><span class = "glyphicon glyphicon-log-out"></a>
				<p class="top-menu">Hello {{ user.username }}</p>
		    {% else %}
			    <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class = "glyphicon glyphicon-log-in"></span></a>
			{% endif %}	
		  <h1><a href="{% url 'blog.views.post_list' %}">Sioni News Blog</a></h1>
		</div>
	    <div class = "content container">
		  <div class = "row">
		     <div class = "col-sm-8">
		       {% block content %}
		       {% endblock %}	
		     </div>		 
          </div>	
        </div>		  
	
	    <div class = "row">
		<div class = "footer">&copy;SioniSoft, 2016.</div>
		</div>
	</body>

</html>